body, html{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.principal{
	position: relative;
    background: #E00109;
    text-align: center;
    padding: 2rem 0;
    width: 100%;
}
a.logo{
	position: absolute;
    left: 10%;
    top: 24%;
}
span.icon{
    margin: 5px;
    font-size: 15px;
    color: #E00109;
    background-color: white;
    border-radius: 50%;
    padding: 9px;
}
input.input-search{
	background: url(../img/lupa.png) red;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: 55px 0.1px;
	border-radius: 50px;
    border: 2px solid white;
       padding-left: 10px;
    width: 75px;
    height: 30px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}