body, html{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.principal{
	position: relative;
  background: #E00109;
  text-align: center;
  padding: 2rem 0;
  width: 100%;
}
a{
   text-decoration:none;   
}
a.logo{
	position: absolute;
  left: 10%;
  top: 24%;
}
span.icon{
  margin: 5px;
  font-size: 15px;
  color: #E00109;
  background-color: white;
  border-radius: 50%;
  padding: 9px;
}
span.icon:hover{
  opacity: 0.5;
}
button{
    padding-left: 10px;
    top: 25px;
    position: absolute;
    right: 200px;
    font-size: 15px;
    width: 85px;
    color: white;
    background-color: red;
    border: 2px solid white;
    border-radius: 50px;
    height: 30px;
}
button span.icon-search{
  margin-left: 5px;
}
